{sys, [
    {lib_dirs, ["/home/max/github/Datarace/server/app"]},
    {erts, [{mod_cond, derived},
               {app_file, strip}]},
    {rel, "datarace", "0.0.0",
     [kernel,
      stdlib,
      {emysql, transient},
      {log, transient},
      {datarace, transient},
      {search, transient}]},
    {boot_rel, "datarace"},
    {profile, embedded},
    {app_file, strip},
    {debug_info, strip},
    {incl_cond, exclude},
    {excl_app_filters, ["_tests.beam$"]},	
    {app, stdlib, [{incl_cond, include}]},
    {app, kernel, [{incl_cond, include}]},
    {app, crypto, [{incl_cond, include}]},
    {app, emysql, [{vsn, "0.4.1"}, {incl_cond, include}]},
    {app, search, [{vsn, "0.0.0"}, {incl_cond, include}]},
    {app, datarace, [{vsn, "0.0.0"}, {incl_cond, include}]},	
    {app, log, [{vsn, "0.0.0"}, {incl_cond, include}]}	
]}.